*{margin: 0;padding: 0;border: none; box-sizing: border-box;-webkit-appearance: none;}
img{max-width: 100%;}
a{text-decoration: none;}
button{cursor: pointer;}

:root {
    --color-primary: #111;
    --color-secondary: #FF0000;
    --color-white: #fff;

}

@font-face {
    font-family: titles;
    src: url(../fonts/Impact.ttf);
}

@font-face {
    font-family: subtitles;
    src: url(../fonts/Impact.ttf);
}

@font-face {
    font-family: cabecera;
    src: url(../fonts/Optima.ttc);
}

@font-face {
    font-family: texto;
    src: url(../fonts/Verdana.ttf);
}

@font-face {
    font-family: secondary-texto;
    src: url(../fonts/Arial.ttf);
}

@font-face {
    font-family: secondary-texto-black;
    src: url(../fonts/Arial\ Bold.ttf);
}

html {
    font-size: 16px;
}

body {
    font-family: texto;
}

header {
    display: flex;
    justify-content: flex-end;        
}

h1 {
    font-family: subtitles;
    font-size: 6.25em;
    color: var(--color-white);
    text-align: center;
}

h2 {
    font-family: titles;
    font-size: 2.1875em ;
}
h3 {
    font-family: cabecera;
    font-size: 4.625em;
    margin-top: 30px;
}
h4 {
    font-family: cabecera;
    font-size: 2.275em;
    color: var(--color-white);
    margin-bottom: 50px;
}
h3,h4 {
    margin-left: 265px;
}

p {
    font-family: texto;
    font-size: 1em;
    text-align: justify;
    margin-top: 60px;
}

.logo {
    width: 8%;
    position: absolute;
    top: 20px;
    left: 140px;
}

.navegador {
    width: 40%;
    margin-top: 40px;
}

nav {
    background-color: var(--color-primary);
    padding: 20px 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-bottom: 20px;
}

nav a {
    color: var(--color-white);
    font-family: titles;
    padding: 20px;
}

nav :first-child {
    padding-left: 40px;
}

nav :last-child {
    color: var(--color-secondary);
}

.horario {
    width: 88%;
    background-color: var(--color-primary);
    padding: 20px 0 20px 20px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    position: relative;
    top: 0;
    left: 90px;
}

.horario a {
    color: var(--color-white);
    font-family: titles;
    padding-left: 70px;

}

.horario :first-child {
    padding-left: 40px;
}

.horario :first-child::before {
    content: url(../icons/Reloj.svg);
    filter: invert(100%);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 19px;
    left: 13px;
    padding-left: 20px;
}

.horario :last-child::before {
    content: url(../icons/Whatsapp-sinfondo.svg);
    filter: invert(100%);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
    left: 346px;
    padding-left: 20px;
}

.banner {
    width: 100%;
    max-width: 100%;
    height: 915px;
    position: relative;
    top: -35px;
    left: 0;
    z-index: -1;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    margin-top: 180px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

section h2 {
    margin-top: 140px;
}

section div:first-child {
    width: 40%;
}

section div:last-child {
    width: 40%;
    margin-left: 148px;
}

section p:last-child {
    margin-top: 20px;
}

.instalaciones {
    flex-direction: row-reverse;
}

.instalaciones div:last-child {
    margin-right: 148px;
}

.instalaciones img {
    flex-direction: row-reverse;
}

footer {
    background-color: var(--color-primary);
    padding: 50px 0;
    margin-top: 180px;
}

footer a {
    font-family: secondary-texto-black;
    font-size: 1em;
    color: var(--color-white);
}

.pie {
    display: flex;
    justify-content: space-around;
}

.instagram div, .mapa div, .email div{
    width: 100%;
    max-width: 45px;
    margin: 0 auto;
    filter: invert(100%);
    margin-bottom: 10px;
}

main {
    margin-top: 140px;
}

.menu {
    width: 100%;
    height: 60px;
    background-color: var(--color-secondary);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    color: var(--color-primary);
    font-family: titles;
    font-size: 1.87em;
    text-transform: uppercase;
}

.cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 180px;
}

.blog {
    width: 350px;
    text-align: center;
    font-family: secondary-texto-black;
    color: var(--color-primary);
    margin-top: 55px;
}

.pagination {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}
  
.pagination a {

    color: var(--color-primary);
    padding: 8px 16px;
    border-radius: 5px;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.login {
    background-color: var(--color-secondary);
    width: 90%;
    max-width: 100%;
    height: 488px;
    border-top-right-radius: 244px;
    border-bottom-right-radius: 244px;
    position: absolute;
    top: 224px;
    left: 0;
}

.login div > a {
    color: var(--color-white);
}

input {
    color: var(--color-white);
    position: relative;
    top: 0;
    left: 318px;
}

input, .btn-inicio {
    background-color: var(--color-primary);
    display: block;
    width: 377px;
    height: 55px;
    font-family: texto;
    font-size: 1em;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
}

.btn-inicio {
    background-color: var(--color-white);
    font-family: subtitles;
    font-size: 34px;
    position: relative;
    top: 40px;
    left: 318px;
}

.btn-inicio a {
    color: var(--color-primary);
}
input[type="checkbox"]{
    width: initial;
    display: none;
}
input[type="checkbox"] + label {
    display: inline;
    font-family: txt;
    font-size: 1.2em;
    position: relative;
    padding-left: 30px;
}
input[type="checkbox"] + label::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
    position: absolute;
    top: -2px;
    left: 0;
}
input[type="checkbox"] + label::after {
    content: url(../img/check-solid.svg);
    display: none;
    position: absolute;
    top: -6px;
    left: 2px;
    width: 30px;
} 
input[type="checkbox"]:checked + label::after {
    display: block;
}
